/* html, body, main {
    height: 100%;
} */

*, *::before, *::after {
    box-sizing: border-box;
}

body, header, h1, h2, h5, ul {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

input, p, a {
    font-size: 24px;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 70px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 4rem;
    border: 5px solid #9f9f9f;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    max-width: 400px;
}

label {
    display: none;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 0;
}

fieldset input {
    padding: 24px;
    border: 3px solid #9f9f9f;
    border-radius: 20px;
    margin-bottom: 10px;
}

input[type=submit] {
    background-color: #427BFF;
    padding: 24px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    border-bottom: 3px solid #9f9f9f;
    width: 100%;
    text-align: center;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 63px;
    border-top: 3px solid #9f9f9f;
    width: 100%;
}

figcaption {
    display: none;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

body > footer {
    position: fixed;
    bottom: 0;
    z-index: 2;
    background-color: white;
    width: 100%;
}

body > nav {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
    width: 100%;
}

main > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    max-width: 400px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 95%;
    min-height: 40vh;
    box-shadow: 0px 0px 10px 1px #888888;
    border: 2px solid white;
    border-radius: 12px;
}

article > section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

article aside {
    display: block;
    width: 100%;
}

article img {
    width: 200px;
    height: auto;
}

article > footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

article > footer > section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 12px;
    width: 100px;
}

article > footer > section > h2:first-child {
    margin-left: 10px;
}

article > footer > section > h2:last-child {
    margin-right: 10px;
}

article > section > figure {
    margin: auto;
}

article > section > aside {
    margin-right: 15px;
    text-align: right;
}

table {
    margin: 5px;
    width: 100%;
}

table td, table th{
    border: 1px solid #000;
    padding: 5px;
}

table > thead {
    text-align: center;
    font-weight: bold;
}

table tr {
    text-align: center;
}

/*pagina venditore 
Author: Lucas*/

section > form > input[type=text]{
    padding: 24px;
    border: 3px solid #9f9f9f;
    border-radius: 20px;
    margin-bottom: 10px;
}


main > div > section{
    background-color: rgba(255,255,255, 0.7);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
}
main > div > section.show{
    display: flex;
}

main > div > section > form{
    margin: auto;
    background-color: white;
}



#theOuterDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}
#addNewItem{
    margin: auto;
}
#addNewItem > button{
    border: 1px solid gray;
    padding: 7px 14px;
    border-radius: 16px;
    background-color: black;
    color: white;
}
#sellerItemWrapper{
    height: 80px;
    width: 100%;
    max-width: 400px;
    border: 1px solid gray;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}
#previewImage{
    height: 70px;
    width: 70px;
    margin: auto 7px;
}
#previewTitle{
    margin: auto;
}
#sellerItemWrapper > button{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: auto 2px;
    border: 0;  
    background-color: black;
    color: white;
}